import os

class Config(object):
    SECRET_KEY = os.environ.get('SECRET_KEY') or 'you-will-never-guess'

apikey = '12345678'
DB_path = 'D:\\full\\path\\to\\altvault.accdb'
prefill_key = 'STM32'
pdf_viewer = 'E:\\path to\\PDFXEdit.exe'
default_author = 'DZUSAN'

# Original CERN library directory 'CernLib' (path to *.mdb files)
CERNdir = 'D:\\full\\path\\to\\CernLib'