<html>
    <head>
      <title>lenkov.work</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/darkly/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>        
        <div class="collapse navbar-collapse" id="navbarColor03"></div>
            <form action="{{url_for('index')}}" method="post" class="form-inline">
                {{ searchForm.hidden_tag() }}
                {{ searchForm.searchField(class='form-control') }}
                {{ searchForm.searchButton(class='btn btn-primary') }}
            </form>
        </div>
    </nav>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </body>
</html>